    <h1>Pagina de Tickets</h1>

    <a href="/ticket/novo"><button class="btn btn-success">Adicionar Ticket</button></a>

    <!--
    <input class="btn btn-success" type="button" onclick="">Listar Tickets</button>
    -->
