<!--este trecho pega as mesanges de erro e mostra na tela
para isto basta adicionar um array de erros e passar na chamada da função-->
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<!--final do trecho de erro-->
<script src="/javascript/ticket.js"></script>

<h2>Criar Ticket:</h2>
<div class="card">
    <div class="card-body">
        <!--
            //definir o suporte exemplo de input no form create
            <form id="formCriacaoDeTickets" action="/ticket/" method="POST">
                <div class="mb-4 row">
                    <label class="col-sm-2 col-form-label" for="idSuporte">id do Suporte:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="idSuporte" placeholder="Slug da categoria">
                    </div>
                    <br>
                </div>
                -->
        <form id="formCriacaoDeTickets" action="/ticket/" method="POST">
            <h3>Defina onde está o Problema</h3>
            <div class="form-check">
                <input id="hardware" class="form-check-input" type="radio" name="categoria" value="hardware">
                <label class="form-check-label" for="categoria">
                    Hardware
                </label>
            </div>
            <div class="form-check">
                <input id="software" class="form-check-input" type="radio" name="categoria" value="software">
                <label class="form-check-label" for="software">
                    Software
                </label>
            </div>
            <div class="form-check">
                <input id="outros" class="form-check-input" type="radio" name="categoria" value="outros" checked>
                <label class="form-check-label" for="outros">
                    Outros
                </label>
            </div>
            <br>
            <div class="input-group">
                <h2 class="input-group">Problema</h2>
                <input id="problema" type="text" class="form-control" name="problema"
                    placeholder="Definição do problema">
            </div>


            <input class="btn btn-success" type="submit" value="Adiciona categoria">
        </form>
    </div>
</div>

<!--
                
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoria1" id="categoria1"
                            value="Categoria1" checked>
                        <label class="form-check-label" for="categoria1">
                            Categoria1
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoria2" id="categoria2"
                            value="Categoria2">
                        <label class="form-check-label" for="categoria2">
                            Categoria2
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="categoria3" id="categoria3"
                            value="Categoria3">
                        <label class="form-check-label" for="categoria3">
                            Categoria3
                        </label>
                    </div>
                
                
            
            <br>

            
            //input para fazer validações js
            
            
            <button class="btn btn-success" type="submit">Submit form</button>

            </form>
        </div>
    </div>
    <br>
    <a href="/ticket"><button class="btn btn-success" type="submit">Voltar a página de Tickets</button></a>


    //
    <div id="tickets">
        <h2>mostra tickets</h2>
        <div id="tick-hardware" class="tick">


        </div>
    
<h1>Tickets do banco</h1>
<form>
    <input class="btn btn-success" type="button" value="mostra Categorias do Banco"
        onclick="Tickets.mostraCategorias()">
</form>
</div id="ticketsFind">

<div>-->