{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h1>Cadastro de Clientes</h1>
<div class="card">

    <div class="card-body">
        <form action="/clientes/novo" method="POST">
            <label for="nome">Nome: </label>
            <input type="text" id="nome" name="nome" placeholder="Nome do Cliente" class="form-control">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="frPessoaFisica">
                <label class="form-check-label" for="flexRadioDefault1">
                    Pessoa Fisica
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="frPessoaJuridica" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Pessoa Jurídica
                </label>
            </div>

            <label for="cpf">CPF / CNPJ : </label>
            <input type="text" id="cpfcnpj" name="cpfcnpj" placeholder="CPF / CNPJ do Cliente" class="form-control">
            <label for="Telefone">Telefone: </label>
            <input type="text" id="telefone" name="telefone" placeholder="Telefone do Cliente" class="form-control">
            <label for="email">E-mail: </label>
            <input type="text" id="email" name="email" placeholder="Email do Cliente" class="form-control">
            <label for="endereco">Endereço: </label>
            <input type="text" id="endereco" name="endereco" placeholder="Endereço do Cliente" class="form-control">
            <label for="bairro">Bairro: </label>
            <input type="text" id="bairro" name="bairro" placeholder="Bairro do Cliente" class="form-control">
            <label for="cidade">Cidade: </label>
            <input type="text" id="cidade" name="cidade" placeholder="Cidade do Cliente" class="form-control">
            <br>
            <button type="submit" class="btn btn-success">Salvar Cliente</button>
        </form>
    </div>
</div>