<header>
    <h1>Cadastro de Clientes</h1>
</header>
<article>
    <a href="/clientes/add"><button class="btn btn-success mt-4">Cadastrar novo Cliente</button></a>
    <p></p>

    <h1>
        <p>Lista de Clientes:</p>
    </h1>
</article>
<article>

    {{#each clientes}}
    <div class="card">
        <div class="card_body">
            <div class="row">
                <div class="col">
                    <h3>{{nome}}</h3>
                    <h5>{{cpfcnpj}}</h5>
                    <h5>{{telefone}}</h5>
                    <h5>{{email}}</h5>
                    <h5>{{endereco}}</h5>
                    <h5>{{bairro}}</h5>
                    <h5>{{cidade}}</h5>
                    <small>Data de criação: {{date}}</small><br>
                </div>
                <div class="col align-self-center offset-md-4">
                    <a href="#{{_id}}"><button class="btn btn-success mt-4">Editar Cliente</button></a>
                    <form action="#" method="POST">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-danger mt-2">Deletar Cliente</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    {{else}}
    <h4 class="mt-3">Nenhuma Cliente Cadastrado!</h4>
    {{/each}}

</article>